// Place all the styles related to the environments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$ua-red: #CC0033;
$ua-blue: #003366;

body {
  color: #111111;
}

strong {
  color: #000000;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-weight: 700;
}

p strong {
  font-weight: 600;
}

h1 {
  color: $ua-blue;
  display: inline;
  font-family: 'Volkhov',serif;
  font-size: 4em;
  font-weight: 400;
  line-height: 1em;
  margin: 0.2em 0 0.6em 0;
  text-shadow: 2px 2px 1px #77CCFF;
}

h2 {
  color: $ua-red;
  font-family: 'Volkhov',serif;
  font-size: 2.2em;
  margin: 0.5em 0em;
  font-weight: 400;
}

h3 {
  color: $ua-blue;
  font-family: 'Volkhov',serif;
  font-size: 1.5em;
  margin: 1em 0em;
  font-weight: 400;
}

h4 {
  color: $ua-blue;
  font-family: 'Volkhov',serif;
  font-size: 1.2em;
  margin: 0.8em 0em;
  font-weight: 400;
}

p, ol, ul, td, th {
  font-family: 'Open Sans',verdana,arial,helvetica,sans-serif;
}

th {
  font-weight: 700;
}

table {
  border-collapse: collapse;
}

table th {
  border: solid 1px #666666;
  color: $ua-blue;
  padding: 3px 4px 2px;
}

table td {
  border: solid 1px #999999;
  padding: 3px 4px 2px;
}

table td.loading {
  padding: 2px 4px 1px;
  text-align: center;
}

table td.error {
  background-color: #FFDDDD;
  color: #FF0000;
  font-weight: bold;
}

a:link,
a:visited,
a:active {
  background: none;
  color: $ua-blue;
  text-decoration: none;
}

a:hover {
  background: none;
  color: $ua-red;
  border-bottom: solid 1px #003366;
}

p.attribute {
  font-size: 1.16em;
  margin: 0.4em 0;
}

td.screenshot {
  text-align: center;
}

td.screenshot img {
  border: solid 1px #000000;
}

span.tiny-note {
  font-size: 0.85em;
  font-style: italic;
}

span.tiny-error {
  color: #990000;
  font-size: 0.9em;
  font-style: italic;
}

/* from http://webdesignerwall.com/tutorials/css3-gradient-buttons */

a.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  font-size: 1em;
  color: #050505;
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(224,224,224,1);
  -webkit-transition: background-color 0.5s linear 0s;  /* I don't think these things work... */
  -o-transition: background-color 0.5s linear 0s;
  -moz-transition: background-color 0.5s linear 0s;
  transition: background-color 0.5s linear 0s;
}
a.button:hover {
  text-decoration: none;
}
a.button:active {
  position: relative;
  top: 1px;
}
/* gray */
a.gray {
  color: #e9e9e9;
  border: solid 1px #555;
/*background: #6e6e6e;
 *   background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));*/
  background: #AEAEAE; /* ((255 - 0x6E)/2 + 0x6E).to_s(16) */
  background: -webkit-gradient(linear, left top, left bottom, from(#C8C8C8), to(#979797));
  background: -moz-linear-gradient(top, #C8C8C8, #979797);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C8C8C8', endColorstr='#979797');
  color: #050505;
}
a.gray:hover {
/*background: #616161;
 *   background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));*/
  background: #818181;
  background: -webkit-gradient(linear, left top, left bottom, from(#A5A5A5), to(#6b6b6b));
  background: -moz-linear-gradient(top, #A5A5A5, #6b6b6b);
  //text-shadow:
  //  0px -1px 0px rgba(048,048,048,0.2),
  //  0px 1px 0px rgba(176,176,176,1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
a.gray:active {
/*color: #afafaf;
 *   background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));*/
  color: #cfcfcf;
  background: -webkit-gradient(linear, left top, left bottom, from(#878787), to(#A8A8A8));
  background: -moz-linear-gradient(top, #878787, #A8A8A8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
  color: #0A0A0A;
}

.tinyb {
  margin-right: 1em;
}

a.gray.tinyb {
  background: -webkit-gradient(linear, left top, left bottom, from(#D7D7D7), to(#ABABAB));
  background: -moz-linear-gradient(top, #D7D7D7, #ABABAB);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D7D7D7', endColorstr='#ABABAB');
}

a.gray.tinyb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#BABABA), to(#878787));
  background: -moz-linear-gradient(top, #BABABA, #878787);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BABABA', endColorstr='#878787');
}
