<!DOCTYPE html>
<html>
<head>
  <title>Envy</title>
  <link href="http://fonts.googleapis.com/css?family=Fanwood+Text|Volkhov:400,700|Merriweather:300,400,700" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600|Lato:400,700|Muli" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Envy</h1>

<%= yield %>

</body>
</html>
